<%- include head.ejs %>
<h2 style="font-family:Georgia,serif;font-size:30px;font-weight: normal;margin:0 0 20px">Reset your password</h2>
<p>Click the link below to reset your password for your <%= process.env.NAME %> account.</p>
<p>This link will expire in 2 hours and can only be used once.</p>
<a
    href="<%= process.env.DEEPLINK_RESETPW %>?token=<%= token %>"
    class="btn"
    style="background-color:#e36e3a;border-radius: 2px;-webkit-border-radius: 2px;color: #FFF;cursor: pointer;margin:15px 0 0;display: inline-block;text-align: center;text-decoration: none;padding:10px 16px;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;"
    >Reset Your Password<a> <%- include foot.ejs %> </a></a
>
